Connected Services/GiardiniereService/GiardiniereService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfgiardiniere">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="giardiniere" nillable="true" type="tns:giardiniere" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgiardiniere" nillable="true" type="tns:ArrayOfgiardiniere" />
  <xs:complexType name="giardiniere">
    <xs:sequence>
      <xs:element minOccurs="0" name="MATgiard" type="xs:int" />
      <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="giardiniere" nillable="true" type="tns:giardiniere" />
</xs:schema>