Connected Services/PaesaggistaService/PaesaggistaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfpaesaggista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="paesaggista" nillable="true" type="tns:paesaggista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpaesaggista" nillable="true" type="tns:ArrayOfpaesaggista" />
  <xs:complexType name="paesaggista">
    <xs:sequence>
      <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="identificativo" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="paesaggista" nillable="true" type="tns:paesaggista" />
</xs:schema>