Connected Services/PaesaggistaService/PaesaggistaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaesaggistaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54270/PaesaggistaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54270/PaesaggistaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54270/PaesaggistaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaesaggistaService_findAll_InputMessage">
    <wsdl:part name="parameters" element="tns:findAll" />
  </wsdl:message>
  <wsdl:message name="IPaesaggistaService_findAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPaesaggistaService_find_InputMessage">
    <wsdl:part name="parameters" element="tns:find" />
  </wsdl:message>
  <wsdl:message name="IPaesaggistaService_find_OutputMessage">
    <wsdl:part name="parameters" element="tns:findResponse" />
  </wsdl:message>
  <wsdl:message name="IPaesaggistaService_Addpaes_InputMessage">
    <wsdl:part name="parameters" element="tns:Addpaes" />
  </wsdl:message>
  <wsdl:message name="IPaesaggistaService_Addpaes_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddpaesResponse" />
  </wsdl:message>
  <wsdl:message name="IPaesaggistaService_visemail_InputMessage">
    <wsdl:part name="parameters" element="tns:visemail" />
  </wsdl:message>
  <wsdl:message name="IPaesaggistaService_visemail_OutputMessage">
    <wsdl:part name="parameters" element="tns:visemailResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaesaggistaService">
    <wsdl:operation name="findAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaesaggistaService/findAll" message="tns:IPaesaggistaService_findAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaesaggistaService/findAllResponse" message="tns:IPaesaggistaService_findAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaesaggistaService/find" message="tns:IPaesaggistaService_find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaesaggistaService/findResponse" message="tns:IPaesaggistaService_find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Addpaes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaesaggistaService/Addpaes" message="tns:IPaesaggistaService_Addpaes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaesaggistaService/AddpaesResponse" message="tns:IPaesaggistaService_Addpaes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="visemail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaesaggistaService/visemail" message="tns:IPaesaggistaService_visemail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaesaggistaService/visemailResponse" message="tns:IPaesaggistaService_visemail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaesaggistaService" type="tns:IPaesaggistaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findAll">
      <soap:operation soapAction="http://tempuri.org/IPaesaggistaService/findAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="http://tempuri.org/IPaesaggistaService/find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addpaes">
      <soap:operation soapAction="http://tempuri.org/IPaesaggistaService/Addpaes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="visemail">
      <soap:operation soapAction="http://tempuri.org/IPaesaggistaService/visemail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaesaggistaService">
    <wsdl:port name="BasicHttpBinding_IPaesaggistaService" binding="tns:BasicHttpBinding_IPaesaggistaService">
      <soap:address location="http://localhost:54270/PaesaggistaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>